@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Variables
$color-primary: #572ee5;
$color-secondary: #50e3c2;
$color-light: #f3f5f8;
$color-gray: #d9e0e8;

$section-separation: 75px 0;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto-Regular", sans-serif;

// Responsive
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;

  &:focus {
    outline: thin dotted;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  border-bottom: 5px solid $color-primary;
  border-top: 5px solid $color-primary;
  font-family: $font-primary;
}

// Clases genericas
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.hide {
  display: none;
}

.divider {
  width: 338px;
  height: 1px;
  background-color: $color-gray;
  margin: 0 auto;
}

.title {
  color: $color-primary;
  font-size: 35px;
  line-height: 50px;
}

.btn__more {
  color: $color-primary;
  font-size: 13px;
  text-align: center;
  border: 1px solid $color-primary;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 6rem auto;

  &:hover {
    color: $color-light;
    background-color: $color-primary;
  }
}

// Bloques

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  &__logo {
    width: 3rem;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: $color-primary;
    cursor: pointer;
    font-size: 1rem;

    @include mobile {
      display: block;
    }
  }

  .menu {
    display: flex;
    gap: 10px;
    font-size: 13px;
    letter-spacing: 0;
    justify-self: flex-end;
    font-weight: 800;
    color: $color-primary;
    align-items: center;
    text-transform: uppercase;
    transition: height 0.5s linear;

    @include mobile {
      background: rgba(87, 46, 229, 0.9);
      height: 0vh;
      width: 100%;
      position: absolute;
      top: 95px;
      left: 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 100;
      gap: 3rem;

      &.is-active {
        height: calc(100% - 95px);
      }
    }

    .create__gif {
      cursor: pointer;

      @include mobile {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: $color-primary;
      cursor: pointer;

      @include mobile {
        color: white;
      }
      &:hover {
        border-bottom: 2px solid $color-secondary;
      }

      &:active {
        color: #9cafc3;
      }
    }

    li {
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
      align-items: center;
      &::after {
        @include mobile {
          display: block;
          color: white;
          height: 2px;
          width: 3rem;
          content: "";
          opacity: 0.5;
          background-color: white;
          margin: 0 auto;
          margin-top: 2rem;
        }
      }
    }
  }
}

.home {
  color: $color-primary;
  padding: $section-separation;

  &__title {
    text-align: center;
    padding-bottom: 2rem;

    & span {
      color: $color-secondary;
    }
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;

    &__image {
      margin: 0 auto;
      display: flex;
      width: 24.94rem;
      max-width: 95%;
    }

    &__bar {
      max-width: 95%;
      width: 551px;
      height: 50px;
      position: relative;

      & input {
        background: #ffffff;
        border: 1px solid #572ee5;
        border-radius: 27px;
        padding: 15px 54px;
        outline: none;
        width: 100%;
      }

      & button {
        position: absolute;
        background: transparent;
        border: none;
        color: $color-primary;
        right: 17px;
        top: 17px;
        cursor: pointer;
      }
    }
  }

  &__trending {
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin: 3rem 0;
  }
}

.trending {
  padding: $section-separation;
  color: $color-primary;
  height: 640px;
  background-color: #f3f5f8;
  text-align: center;

  &__title {
    font-size: 25px;
    margin: 4rem 0 0.5rem;
  }

  &__subtitle {
    color: #000000;
    font-family: $font-secondary;
    font-size: 18px;
    line-height: 21px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 275px;
    margin: 4rem 0;
    gap: 2rem;

    &__result {
      background-color: $color-primary;
    }
  }
}

.search {
  text-align: center;

  &__title {
    margin: 2rem 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 29px;

    &__result {
      background-color: #572ee5;
    }
  }
}

.main__fav__container {
  display: flex;
  align-items: center;
}

.main__fav__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h2 {
    font-size: 25px;
    line-height: 30px;
  }
  & p .saveGifo {
    color: $color-secondary;
    font-size: 22px;
    text-align: center;
    line-height: 33px;
  }
}

.footer {
  padding: 2rem;
  display: flex;
  //justify-content: space-between;
  color: #000000;
  align-items: center;
  height: 8rem;
  font-family: $font-primary;
  font-size: 13px;
  line-height: 15px;
  gap: 1rem;

  @include mobile {
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    height: 12rem;
  }

  .social__network {
    display: flex;
    gap: 1rem;
  }

  & a {
    color: #cdd6e0;
    font-size: 1rem;

    &:hover {
      color: $color-primary;
      transform: scale(1.1);
    }
  }

  .reserved {
    margin-left: auto;
    @include mobile {
      margin-left: 0;
    }
  }
}
