@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --lighter-to-darker: #ffffff;
    --light-to-dark: #f3f5f8;
    --dark-to-light: #222326;
    --primary-to-light: #572ee5;
    --primary-to-dark: #572ee5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --lighter-to-darker: #37383c;
    --light-to-dark: #222326;
    --primary-to-light: #f3f5f8;
    --dark-to-light: #f3f5f8;
    --primary-to-dark: #222326;
  }
}
// Variables

$lighter-to-darker: var(--lighter-to-darker);
$light-to-dark: var(--light-to-dark);
$primary-to-light: var(--primary-to-light);
$dark-to-light: var(--dark-to-light);
$primary-to-dark: var(--primary-to-dark);

$color-secondary: #50e3c2;
$color-gray: #d9e0e8;

$section-separation: 75px 0;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto-Regular", sans-serif;

// Responsive
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;

  &:focus {
    outline: thin dotted;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: $lighter-to-darker;
  border-bottom: 5px solid $primary-to-dark;
  border-top: 5px solid $primary-to-dark;
  font-family: $font-primary;
}

// Clases genericas
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.hide {
  display: none;
}

.divider {
  width: 338px;
  height: 1px;
  background-color: $color-gray;
  margin: 0 auto;
}

.title {
  color: $primary-to-light;
  font-size: 35px;
  line-height: 50px;
}

.btn__more {
  color: $primary-to-light;
  border: 1px solid $primary-to-light;
  background-color: transparent;
  font-size: 13px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 6rem auto;

  &:hover {
    color: $light-to-dark;
    background-color: $primary-to-light;
  }
}

// Bloques

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  &__logo {
    width: 3rem;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: $primary-to-light;
    cursor: pointer;
    font-size: 1rem;

    @include mobile {
      display: block;
    }
  }

  .menu {
    display: flex;
    gap: 10px;
    font-size: 13px;
    letter-spacing: 0;
    justify-self: flex-end;
    font-weight: 800;
    color: $primary-to-light;
    align-items: center;
    text-transform: uppercase;
    transition: height 0.5s linear;

    @include mobile {
      background: rgba(87, 46, 229, 0.9);
      height: 0vh;
      width: 100%;
      position: absolute;
      top: 95px;
      left: 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 100;
      gap: 3rem;

      &.is-active {
        height: calc(100% - 95px);
      }
    }

    .create__gif {
      cursor: pointer;

      @include mobile {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: $primary-to-light;
      cursor: pointer;

      @include mobile {
        color: white;
      }
      &:hover {
        border-bottom: 2px solid $color-secondary;
      }

      &:active {
        color: #9cafc3;
      }
    }

    li {
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
      align-items: center;
      &::after {
        @include mobile {
          display: block;
          color: white;
          height: 2px;
          width: 3rem;
          content: "";
          opacity: 0.5;
          background-color: white;
          margin: 0 auto;
          margin-top: 2rem;
        }
      }
    }
  }
}

.home {
  color: $primary-to-light;
  padding: $section-separation;

  &__title {
    text-align: center;
    padding-bottom: 2rem;

    & span {
      color: $color-secondary;
    }
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;

    &__image {
      margin: 0 auto;
      display: flex;
      width: 24.94rem;
      max-width: 95%;
    }

    &__bar {
      font-size: 1rem;

      .search__left,
      .search__btn {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: inherit;
      }
      .search__elements {
        display: flex;
        gap: 1rem;
        color: #9cafc3;
      }

      max-width: 95%;
      width: 551px;

      position: relative;
      border: 1px solid $primary-to-light;
      border-radius: 27px;
      padding: 1rem;

      & input {
        border: none;
        outline: none;
        width: 100%;
        background: transparent;
        color: $dark-to-light;
      }

      & .search__btn {
        position: absolute;
        background: transparent;
        border: none;
        color: $primary-to-light;
        right: 17px;
        top: 17px;
        cursor: pointer;
      }

      .autocomplete_content {
        width: 100%;
        padding: 0;
        background-color: transparent;
        color: #9cafc3;
        list-style: none;
        margin-top: 1rem;
        border-top: 1px solid;

        .suggested {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 0;
          padding-top: 1rem;
          cursor: pointer;
          gap: 1rem;
        }
      }
    }
  }

  &__trending {
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin: 3rem 0;
  }
}

//create section

.create__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__img {
    display: flex;
    height: 162px;
    align-items: center;

    &__camera {
      height: 100%;
    }

    &__cameralight {
      position: relative;
      top: 2px;
      height: 76%;
    }
  }

  &__upload {
    position: relative;
    border: 1px solid $primary-to-dark;
    width: 50%;
    height: 50%;
    padding: 8%;
  }
}
.box1 {
  position: absolute;
  border-left: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
  left: 0;
  top: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}
.box2 {
  position: absolute;
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
  right: 0;
  top: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}
.box3 {
  position: absolute;
  border-left: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}
.box4 {
  position: absolute;
  border-right: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
  right: 0;
  bottom: 0;
  height: 25px;
  width: 27px;
  margin: 15px;
}
.create__title {
  color: $primary-to-dark;
  font-size: 25px;
  margin-bottom: 1rem;
  text-align: center;

  & span {
    color: $color-secondary;
  }
}

.create__subtitle {
  color: $dark-to-light;
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.create__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  &__btn .each {
    font-family: $font-secondary;
    color: $primary-to-dark;
    padding: 0.4rem 0.6rem;
    font-size: 1.13rem;
    line-height: 0.94rem;
    border-radius: 50%;
  }
}

.step {
  background-color: transparent;
  border: 1px solid #572ee5;
  color: #572ee5;
}

.divider__create {
  width: 100%;
  height: 0.43rem;
  background-color: #572ee5;
  margin: 1.5rem auto;
}

//trending
.trending__topics {
  display: flex;
  width: 25.13rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &__links {
    margin-left: 0.5rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.trending {
  padding: $section-separation;
  color: $primary-to-light;
  background-color: $light-to-dark;
  text-align: center;

  &__title {
    font-size: 25px;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: $dark-to-light;
    font-family: $font-secondary;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }

  &__carousel {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 3rem auto;

    &__content {
      display: flex;
      position: relative;
      overflow: hidden;
      height: 100%;
      gap: 1rem;
    }

    .slide {
      height: 100%;
      position: absolute;
      z-index: 1;
      transition: left 0.4s linear;

      &__image {
        height: 100%;
        object-fit: cover;
      }
    }

    .nav {
      display: grid;
      place-items: center;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      width: 40px;
      height: 40px;
      color: $primary-to-light;
      border: 1px solid $primary-to-light;
      background-color: transparent;
      z-index: 2;
      cursor: pointer;
      outline: none;

      &:hover {
        color: $light-to-dark;
        background-color: $primary-to-light;
      }
    }

    .nav-left {
      left: -40px;
    }

    .nav-right {
      right: -40px;
    }
  }
}

.search {
  text-align: center;

  &__title {
    margin: 2rem 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 29px;

    &__result {
      background-color: #572ee5;
    }
  }
}

.main__fav__container {
  display: flex;
  align-items: center;
}

.main__fav__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h2 {
    font-size: 25px;
    line-height: 30px;
  }
  & p .saveGifo {
    color: $color-secondary;
    font-size: 22px;
    text-align: center;
    line-height: 33px;
  }
}

.footer {
  padding: 2rem;
  display: flex;
  //justify-content: space-between;
  color: $dark-to-light;
  align-items: center;
  height: 8rem;
  font-family: $font-primary;
  font-size: 13px;
  line-height: 15px;
  gap: 1rem;

  @include mobile {
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    height: 12rem;
  }

  .social__network {
    display: flex;
    gap: 1rem;
  }

  & a {
    color: #cdd6e0;
    font-size: 1rem;

    &:hover {
      color: $primary-to-light;
      transform: scale(1.1);
    }
  }

  .reserved {
    margin-left: auto;
    @include mobile {
      margin-left: 0;
    }
  }
}
