@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media (prefers-color-scheme: light) {
  :root {
    --lighter-to-darker: #ffffff;
    --light-to-dark: #f3f5f8;
    --dark-to-light: #222326;
    --primary-to-light: #572ee5;
    --primary-to-dark: #572ee5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --lighter-to-darker: #37383c;
    --light-to-dark: #222326;
    --primary-to-light: #f3f5f8;
    --dark-to-light: #f3f5f8;
    --primary-to-dark: #222326;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

*:focus {
  outline: thin dotted;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--lighter-to-darker);
  border-bottom: 5px solid var(--primary-to-dark);
  border-top: 5px solid var(--primary-to-dark);
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.hide {
  display: none;
}

.divider {
  width: 338px;
  height: 1px;
  background-color: #d9e0e8;
  margin: 0 auto;
}

.title {
  color: var(--primary-to-light);
  font-size: 35px;
  line-height: 50px;
}

.btn__more {
  color: var(--primary-to-light);
  border: 1px solid var(--primary-to-light);
  background-color: transparent;
  font-size: 13px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 6rem auto;
}

.btn__more:hover {
  color: var(--light-to-dark);
  background-color: var(--primary-to-light);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.header__logo {
  width: 3rem;
}

.header .hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  color: var(--primary-to-light);
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .header .hamburger {
    display: block;
  }
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 13px;
  letter-spacing: 0;
  justify-self: flex-end;
  font-weight: 800;
  color: var(--primary-to-light);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

@media (max-width: 767px) {
  .header .menu {
    background: rgba(87, 46, 229, 0.9);
    height: 0vh;
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
    gap: 3rem;
  }
  .header .menu.is-active {
    height: calc(100% - 95px);
  }
}

.header .menu .create__gif {
  cursor: pointer;
}

@media (max-width: 767px) {
  .header .menu .create__gif {
    display: none;
  }
}

.header .menu a {
  text-decoration: none;
  color: var(--primary-to-light);
  cursor: pointer;
}

@media (max-width: 767px) {
  .header .menu a {
    color: white;
  }
}

.header .menu a:hover {
  border-bottom: 2px solid #50e3c2;
}

.header .menu a:active {
  color: #9cafc3;
}

.header .menu li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header .menu li::after {
    display: block;
    color: white;
    height: 2px;
    width: 3rem;
    content: "";
    opacity: 0.5;
    background-color: white;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.home {
  color: var(--primary-to-light);
  padding: 75px 0;
}

.home__title {
  text-align: center;
  padding-bottom: 2rem;
}

.home__title span {
  color: #50e3c2;
}

.home__search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

.home__search__image {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24.94rem;
  max-width: 95%;
}

.home__search__bar {
  font-size: 1rem;
  max-width: 95%;
  width: 551px;
  position: relative;
  border: 1px solid var(--primary-to-light);
  border-radius: 27px;
  padding: 1rem;
}

.home__search__bar .search__left,
.home__search__bar .search__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

.home__search__bar .search__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  color: #9cafc3;
}

.home__search__bar input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  color: var(--dark-to-light);
}

.home__search__bar .search__btn {
  position: absolute;
  background: transparent;
  border: none;
  color: var(--primary-to-light);
  right: 17px;
  top: 17px;
  cursor: pointer;
}

.home__search__bar .autocomplete_content {
  width: 100%;
  padding: 0;
  background-color: transparent;
  color: #9cafc3;
  list-style: none;
  margin-top: 1rem;
  border-top: 1px solid;
}

.home__search__bar .autocomplete_content .suggested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
  padding-top: 1rem;
  cursor: pointer;
  gap: 1rem;
}

.home__trending {
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  margin: 3rem 0;
}

.trending__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25.13rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.trending__topics__links {
  margin-left: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.trending {
  padding: 75px 0;
  color: var(--primary-to-light);
  background-color: var(--light-to-dark);
  text-align: center;
}

.trending__title {
  font-size: 25px;
  margin-bottom: 1rem;
}

.trending__subtitle {
  color: var(--dark-to-light);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.trending__carousel {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 3rem auto;
}

.trending__carousel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  gap: 1rem;
}

.trending__carousel .slide {
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transition: left 0.4s linear;
  transition: left 0.4s linear;
}

.trending__carousel .slide__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending__carousel .nav {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 40px;
  height: 40px;
  color: var(--primary-to-light);
  border: 1px solid var(--primary-to-light);
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.trending__carousel .nav:hover {
  color: var(--light-to-dark);
  background-color: var(--primary-to-light);
}

.trending__carousel .nav-left {
  left: -40px;
}

.trending__carousel .nav-right {
  right: -40px;
}

.search {
  text-align: center;
}

.search__title {
  margin: 2rem 0;
}

.search__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
  gap: 29px;
}

.search__grid__result {
  background-color: #572ee5;
}

.main__fav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__fav__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__fav__text h2 {
  font-size: 25px;
  line-height: 30px;
}

.main__fav__text p .saveGifo {
  color: #50e3c2;
  font-size: 22px;
  text-align: center;
  line-height: 33px;
}

.footer {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--dark-to-light);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 15px;
  gap: 1rem;
}

@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2rem;
    height: 12rem;
  }
}

.footer .social__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer a {
  color: #cdd6e0;
  font-size: 1rem;
}

.footer a:hover {
  color: var(--primary-to-light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .reserved {
  margin-left: auto;
}

@media (max-width: 767px) {
  .footer .reserved {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */